@import url("reset.css");
@import url("css/cover.css");
@import url("variables.css");

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  max-width: 1200px;
  width: 100%;
  padding: var(--large-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
}
