:root {
  /* font-size */
  --font-size-xl: 6em;
  --font-size-lg: 4em;
  --font-size-sm: 0.8em;
  --font-size-xs: 0.5em;

  /* font-weight */
  --font-weight-xl: 700;
  --font-weight-lg: 600;

  /* space */
  --large-padding: 30px;
  --base-padding: 10px;

  /* border */
  --base-border: 1px solid black;
}
